body {
  margin: 0;
  font-family: 'Neue Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Neue Sans', monospace;
}

* {
  font-family: 'Neue Sans', sans-serif;
  scroll-behavior: smooth;
}
